<div class="delille-product-card">
    <div class="delille-product-card__title">{{ product.title }}</div>
    <img class="delille-product-card__image" src="{{ product.featured_image | img_url: "600x600" }}" alt="">
    <p class="delille-product-card__description">{{ product.description }}</p>
    <div class="delille-product-card__buy-info">
        <div class="delille-product-card__buy-info__item">
            <table>
                <tr>
                    <td colspan="3">price</td>
                </tr>
                <tr>
                    <td>bottle</td>
                    <td>/</td>
                    <td>case</td>
                </tr>
                <tr>
                    <td>{{ product.price | money_without_trailing_zeros }}</td>
                    <td>/</td>
                    <td>{{ product.price | times: 12 | money_without_trailing_zeros }}</td>
                </tr>
            </table>
        </div>
        <div class="delille-product-card__buy-info__item">
            {% form 'product', product %}
                <label for="quantity">qty</label>
                <div class="quantity less">–</div>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="100">
                <div class="quantity more">+</div><br>
          <input type="hidden" value="{{ product.variants[0].id }}">
                <input type="submit" value="buy now">
            {% endform %}
        </div>
        <div class="delille-product-card__buy-info__item">
            <a href="{{ product.url }}"><img class="card-btn" src={{ "button_buy.png" | asset_url }} alt=""></a>
        </div>
    </div>
</div>