<div class="test grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
    <a class="grid-view-item__link grid-view-item__image-container product-card__link"
       href="{{ product.url | within: collection }}">
        <span class="visually-hidden">{{ product.title }}</span>
    </a>

    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    {% unless product.featured_image == blank %}
        {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
    {% endunless %}
    <div class="h4 grid-view-item__title" aria-hidden="true">{% cycle "Meet the", "Order Yours" %} {% cycle "2010", "2012" %} {{ product.title }}!</div>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js">
        <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
            <img id="{{ img_id }}"
                 class="grid-view-item__image lazyload"
                 src="{{ product.featured_image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="">
        </div>
    </div>

    <noscript>
        {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
        <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}"
             alt="{{ product.featured_image.alt }}"
             style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
    </noscript>


    <dl>
        {% if section.settings.show_vendor %}
            <div class="grid-view-item__vendor">
                <dt>
                    <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
                </dt>
                <dd>
                    {{ product.vendor }}
                </dd>
            </div>
        {% endif %}

        {% include 'product-price' %}
    </dl>
</div>

{% comment %}<article class="order-container white-transparent top-margined">{% endcomment %}
    {% comment %}<div class="order-item">{% endcomment %}
        {% comment %}<h3>Order Your D2 2010 Release Today!</h3>{% endcomment %}
        {% comment %}<img class="bottle" src="./img/bottle_2010d2Columbia.jpg" alt="D2 wine year 2010">{% endcomment %}
        {% comment %}<p>This 2012 Gold Medal winner of the Sunset International Wine{% endcomment %}
            {% comment %}Compeition is a must have for your collection! Showing wonderful{% endcomment %}
            {% comment %}complex aromas of red and black berries, anise, nutmeg, cedar,{% endcomment %}
            {% comment %}cocoa and wood smoked cinnamon characters.{% endcomment %}
        {% comment %}</p>{% endcomment %}
        {% comment %}<table>{% endcomment %}
            {% comment %}<tr>{% endcomment %}
                {% comment %}<td colspan="3">price</td>{% endcomment %}
            {% comment %}</tr>{% endcomment %}
            {% comment %}<tr>{% endcomment %}
                {% comment %}<td>bottle</td>{% endcomment %}
                {% comment %}<td>/</td>{% endcomment %}
                {% comment %}<td>case</td>{% endcomment %}
            {% comment %}</tr>{% endcomment %}
            {% comment %}<tr>{% endcomment %}
                {% comment %}<td>$40</td>{% endcomment %}
                {% comment %}<td>/</td>{% endcomment %}
                {% comment %}<td>$480</td>{% endcomment %}
            {% comment %}</tr>{% endcomment %}
        {% comment %}</table>{% endcomment %}
        {% comment %}<form action="">{% endcomment %}
            {% comment %}<label for="quantity1">qty</label>{% endcomment %}
            {% comment %}<div class="quantity less">–</div>{% endcomment %}
            {% comment %}<input type="number" id="quantity1" name="quantity" value="1" min="1" max="100"><br>{% endcomment %}
            {% comment %}<div class="quantity more">+</div>{% endcomment %}
            {% comment %}<button type="submit" value="Submit">buy now</button>{% endcomment %}
        {% comment %}</form>{% endcomment %}
        {% comment %}<a href=""><img class="btn" src="./img/button_buy.png" alt="buy de lille wine"></a>{% endcomment %}
    {% comment %}</div>{% endcomment %}
{% comment %}</article>{% endcomment %}

