<header class="white-transparent">
    <div class="dellile-header-container centered">
        <a href="#">{{ section.settings.logo | img_url: "500x500" | img_tag: shop.name, "logo"  }}</a>
        <div class="burger">
            <span></span>
        </div>
        <nav id="main-nav">
            <ul class="delille-authorize">
                <li class="authorize-item login">
                    {% if customer %}
                        <a href="/account">
                            {% include 'icon-login' %}
                            <span>{{ 'layout.customer.account' | t }}</span>
                        </a>
                    {% else %}
                        <a href="/account/login">{{ section.settings.login_text }}</a>
                    {% endif %}
                </li>
                <li class="authorize-item">|</li>
                <li class="authorize-item cart">
                    <a href="/cart">
                        {{ section.settings.cart_text }}
                        {% if cart.item_count > 0 %}
                                <span>({{ cart.item_count }})</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <ul class="delille-menu">
                {% for link in linklists[section.settings.main_linklist.handle].links %}
                    <li class="delille-menu-item">{{ link.title | link_to: link.url }}</li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>


{% schema %}
{
  "name": {
    "en": "Header",
    "de": "Titel",
    "fr": "En-tête"
  },
  "settings": [
    {
      "type": "text",
      "id": "login_text",
      "label": "Login Text",
      "default": "login"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "Cart Text",
      "default": "cart"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "en": "Logo image",
        "de": "Logo-Foto",
        "fr": "Image du logo"
      }
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "en": "Menu",
        "de": "Menü",
        "fr": "Menu"
      },
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "en": "Home page only",
        "de": "Nur Startseite",
        "fr": "Page d'accueil uniquement"
      },
      "default": true
    }
  ]
}
{% endschema %}