<header class="white-transparent">
    <div class="dellile-header-container centered">
        <a href="#">{{ section.settings.logo | img_url: "500x500" | img_tag: shop.name, "logo"  }}</a>
        <div class="burger">
            <span></span>
        </div>
        <nav class="main-nav">
            <ul class="delille-authorize">
                <li class="authorize-item">
                    {% if customer %}
                        <a href="/account">
                            {% include 'icon-login' %}
                            <span>{{ 'layout.customer.account' | t }}</span>
                        </a>
                    {% else %}
                        <a href="/account/login">{{ section.settings.login_text }}</a>
                    {% endif %}
                </li>
                <li class="authorize-item">|</li>
                <li class="authorize-item">
                    <a href="/cart">
                        {{ section.settings.cart_text }}<span>({{ cart.item_count }})</span>
                        {% if cart.item_count > 0 %}
                            <div>
                                <span>({{ cart.item_count }})</span>
                            </div>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <ul class="delille-menu">
                {% for link in linklists[section.settings.main_linklist.handle].links %}
                    <li class="delille-menu-item">{{ link.title | link_to: link.url }}</li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>


{% schema %}
{
  "name": {
    "en": "Header",
    "de": "Titel",
    "fr": "En-tête"
  },
  "settings": [
    {
      "type": "text",
      "id": "login_text",
      "label": "Login Text",
      "default": "login"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "Cart Text",
      "default": "cart"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "en": "Logo image",
        "de": "Logo-Foto",
        "fr": "Image du logo"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "en": "Custom logo width",
        "de": "Logobreite",
        "fr": "Largeur personnalisée du logo"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "en": "Menu",
        "de": "Menü",
        "fr": "Menu"
      },
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "en": "Home page only",
        "de": "Nur Startseite",
        "fr": "Page d'accueil uniquement"
      },
      "default": true
    }
  ]
}
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
{% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}