<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
          <div style="width: 200px; height: 200px; background-color: #e95e61; color: black;">
            <ul>
              {% for collection in collections %}
                <li>{{ collection.title }}</li>
              {% endfor %}
            </ul>
            <div>{{ shop.products_count }}</div>
          <div>
          <div style="width: 200px; height: 200px; background-color: #e95e61; color: black;">
            <div>{{ all_products }}</div>
              <ul>
                {% for product in collection.products %}
                  {{ product.title }}
                {% endfor %}
              </ul>
          <div>
      </div>
    </div>
  </div>
</div>