{{ "test.css" | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1> Liquid testing </h1>
      </div>
      <div class="rte">
        <div id="result">
          {{ "now" | time_tag: "%A, %d %B %Y, %H:%M" }}<br>
          {% assign a = ["10000", "11000", "12000"] %}
          {{ a | join: ", "}}<br>
          {% assign a = "<input type='text' placeholder='hello, liquid!'>" %}
          {{ a | replace: "text", "button" }}<br>
          {% assign arr = a | replace: "text", "radio" | handleize | split: "-"  %}<br>
          <ul>
            {% for i in arr %}
              <li>{{ i }}</li>
            {% endfor %}
          </ul>
          {{ 'background_body_stamp.png' | asset_url | img_tag }}
          {% for c in collections %}
            {% assign b = c.image | img_url: "200x" %}
            <img src="{{ b }}"/><br>
            {{ c.title | link_to: c.url, c.title }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{{ "testing.js" | asset_url | script_tag }}