{{ "test.css" | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1> Liquid testing </h1>
      </div>
      <div class="rte">
        {% assign a = 5.2 %}
        <div id="result">
          {{ a | times: 2 }}<br>
          {{ a | divided_by: 4 }}<br>
          {{ "now" | time_tag: "%A, %d %B %Y, %H:%M" }}<br>
          {{ "now" | date: "%A, %d %B %Y, %H:%M" }}<br>
          {{ 'background_body_stamp.png' | asset_url | img_tag }}
          {% for c in collections %}
            {% assign b = c.image | img_url: "200x" %}
            <img src="{{ b }}"/><br>
            {{ c.title | link_to: c.url, c.title }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>